In [8]:
#Text file compiler designed to take in a series of 6 JV curves spit out by labview
# Then spit out a text file containing PCE, JSC (mA/cm^2), VOC (V), and FF

import pandas as pd
import csv
import os
import glob

In [19]:
#Cell doing import of the FIRST of 6 data files. The first file is the only one to include the column headers
#The subsequent 5 files will need to have thewir columns appended

#df1 = pd.read_tsv ("light_1")
device_1 = pd.read_csv("light_3", sep='\t')
#df1 = df1.loc[:, ~df1.columns.str.contains('^Unnamed')]
device_1.head()

   1.01000E+0  2.41353E-3  1.48983E+1  -1.58226E+1
0    1.000030    0.002404     14.8409     -15.6061
1    0.990012    0.002408     14.8624     -15.4721
2    0.980000    0.002419     14.9298     -15.3851
3    0.970027    0.002401     14.8188     -15.1152
4    0.960013    0.002409     14.8681     -15.0090

In [18]:
device_1

     1.01000E+0  2.41353E-3  1.48983E+1  -1.58226E+1
0      1.000030    0.002404     14.8409     -15.6061
1      0.990012    0.002408     14.8624     -15.4721
2      0.980000    0.002419     14.9298     -15.3851
3      0.970027    0.002401     14.8188     -15.1152
4      0.960013    0.002409     14.8681     -15.0090
..          ...         ...         ...          ...
197   -0.970310   -0.005635    -34.7829     -35.4892
198   -0.980323   -0.006057    -37.3916     -38.5445
199   -0.990331   -0.006485    -40.0314     -41.6870
200   -1.000300   -0.006915    -42.6883     -44.9012
201   -1.010310   -0.007352    -45.3838     -48.2142

[202 rows x 4 columns]

In [ ]:
def analyze_OPV(df, area, intensity)

return Voc

def read_substrate(filepath):
    #Function to read the substrate data from a given folder

In [ ]:

#Taken from Stack Overflow
outfile = open('output.csv', 'w')
outfile.write('X ; Y ; Z ; filename\n')
for filename in glob.glob('*.csv'):
  if filename == 'output.csv': # Skip the file we're writing.
    continue
  with open(filename, 'r') as infile:
    count = 0 
    lineno = 0 
    for line in infile:
      lineno += 1
      if lineno == 1: # Skip the header line.
        continue
      fields = line.split(';')
      x = int(fields[0])
      y = int(fields[1])
      z = float(fields[2])
      if x == 1 and y == 2:
        outfile.write('%d ; %d ; %g ; %s\n' % (x, y, z, filename))
        count += 1
    if count == 0: # Handle the case when no lines were found.
      outfile.write('1 ; 2 ; NA ; %s\n' % filename)
outfile.close()